<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Smart Cookie Learner</title>
        {% else %}
        <title>Smart Cookie Learner</title>
        {% endif %}
    </head>
    <body>
        <h1>Welcome to Smart Cookie Learner</h1>
        <hr>
        <div> <a href = "/index">Home</a></div>
        <div> <a href = "/quiz">Quiz</a></div>
        <div> <a href = "/coding">Coding</as></div>
        <div> <a href = "/ai">AI</a></div>
        <div> <a href = "/profile">Profile</a></div>
        <hr>
        {% block content %}
       
        {% endblock content %}
    </body>
</head>
</html>
